.heading{
font-size: 23px;
width: 100%;
margin: 0px;
}

body{
    background-position: center;
    background-size: cover;

}

canvas{
    box-shadow: 10px 10px 10px blue;
    border-radius: 15px;
    margin: 45px;
}
#input{
    width: 260px;
}